html { overflow: hidden; }
body { font-size: small; padding: 0; margin: 0; }

#header h1 { font-weight: normal; font-family: Verdana, Arial, sans-serif; font-size: 250%;  
             color: #888888; 
             margin: 0.2em 0.2em 0.2em 0.2em; }

.noraseq-admin { font-size: 11px; margin-left: 1em; }

/* display h2 inline so that "option links" (e.g., <a>sort</a> | <a>unsort</a>) can be floated right, yet share the 
   same text baseline as the h2. 
   
   However, inline display causes h2 margin to overspill the containing div, causing layout problems; therefore style
   header-block" divs, instead of h2s, to get margins and padding. */

.noraseq-admin h2 { display: inline; padding: 0; margin: 0; font-size: 1.3em;  font-weight: normal; }	
.noraseq-admin .header-block { display: block; margin-top: 0.2em; margin-bottom: 0.8em; }
.noraseq-admin .header-block .option-link { float: right; }

.noraseq-admin p { margin-left: 1em; margin-top: 0.5em; margin-bottom: 0.3em;}

.option-link { font-size: 0.9em; }
.option-link > p { display: inline; }
.option-link > a { color: #0000ee; text-decoration: none; }
.option-link > a:visited { color: #0000ee; }
.option-link > a:hover { text-decoration: underline; }
.noraseq-admin .ghosted { color: #aaaaaa; }

#stats-panel { background: transparent; border: 0; margin-bottom: 1em; }
#stats-panel .ui-tabs-panel { background-color: #eeeeee; border: 1px solid #cccccc; }
#stats-panel ul { margin-left: 1em; background: transparent; border: 0; }

#column-stats { float: left; }
#column-vs-group-stats { float: left; }
#column-pair-stats { float: left; }

.admin-display-cell { float: left; }
.column-score-histogram { float: left; width: 200px; height: 150px; background-color: #ffffff; }
.column-by-score { float: left; width: 250px; height: 150px; background-color: #ffffff; }
.selected-column-histogram { float: left; width: 200px; height: 150px; background-color: #ffffff; }

.x-overflow-container { overflow: hidden; }
.y-overflow-container { overflow: hidden; }

#row-label-control { background-color: #e8ecf9; }
#column-labels { background-color: #d5ddf3; height: 50px; width: 100%; }


/* the ridiculous width of #sequence-panel is necessary to make sure #row-label-panel and #sequence-content-panel
     always float next to each other, no matter how wide #sequence-content-panel becomes (and it may become very 
     wide when it contains a long sequence alignment...) */
     
#sequence-panel { width: 100000px; }
#row-label-panel { float: left; width:200px; height: 500px; background-color: #cccccc; }
#sequence-content-panel { float: left; }

#sequence-table { table-layout: fixed;
                  background-color: #efefe0; 
                  border-spacing: 0px;
                  font-family: "Verdana"; 
                  font-size: 12px; 
                  color: #333333; }

/* should probably be an embedded style tag in the noraseq view template */

.sequence-table-row > th { width: 15px; }
                  
.sequence-table-row > td { text-align: center; 
                           background-color: #ebead3; 
                           padding-top: 2px; 
                           padding-bottom: 0px; }
                           
.sequence-table-row > .gap { background: transparent; color: #A6A6A6; }


/* helpers */

/* add this class to remove pesky left margin from leftmost inline element */
.noraseq-left-align { margin-left: 0px; }

.noraseq-vrule { float: left; margin: 10px 20px 10px 20px; width:1px; height: 150px; background-color: #cccccc; }

/* add this class temporarily to visualize the border of a div */
.noraseq-border-helper { border: 1px solid #333333; }

/* use this class to make non-floated container stretch to height of any floated divs it contains 
   (usage: add an empty div with this class after all floated divs) */
.noraseq-bottom-anchor { clear: both; }
