<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	
	<title>NORASeq view of {{ alignment.name }}</title>
	
	<!-- generic jquery UI theme -->
	<link type="text/css" 
  	    href="{{MEDIA_URL}}noraseq/css/smoothness/jquery-ui-1.7.2.custom.css" 
  	    rel="stylesheet" />
  
  <!-- jquery UI theme scoped to .noraseq-admin -->
	<link type="text/css" 
		    href="{{MEDIA_URL}}noraseq/css/noraseq-admin-grey-theme-1/jquery-ui-1.7.2.custom.css" 
		    rel="stylesheet" />
  
	<link type="text/css" 
	      href="{% url noraseq.noraseq_css.css css_file_name='noraseq.css' %}" 
	      rel="stylesheet" />
	
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}noraseq/js/jquery-ui-1.7.2.custom.min.js"></script>
    <!-- FIXME replace bbq with min version eventually -->
	<script type="text/javascript" src="{{MEDIA_URL}}noraseq/js/jquery.ba-bbq.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}noraseq/js/noraseq.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}noraseq/js/transtate.js"></script>
	<script type="text/javascript">
	    BASE_URL="{{base_url}}";
	</script>
	
</head>

<body>
	<div id="header">
		<h1>NORA<span style="font-weight: bold">Seq</span> 
		  <div style="width: 500px; display: inline; font-size: 75%; margin-left: 3em; color: #666666;">Analyzing: <span style="background-color: #eeeeaa; font-style: italic">Serpins</span></div>
	  </h1>
	</div>
	<hr>
	<div id="admin" class="noraseq-admin">
		<!-- stats-panel must be contained within an element with class noraseq-admin, rather than merely being
			a *member* of the class, in order for jquery-ui tabs() to style it correctly -->
		<div id="stats-panel">
			<ul>
				<li><a href="#column-stats">Columns scored individually</a></li>
				<li><a href="#column-pair-stats">Pairs of columns scored for relatedness</a></li>
				<li><a href="#column-vs-selected-column-stats">Columns scored for relatedness to...</a></li>
			</ul>
			<div id="column-stats">
				<div class="admin-display-cell">
					<div class="header-block">
						<h2>score columns by</h2>
					</div>
					<p>
					  <input id="conservation-radio-button" type="radio" class="noraseq-left-align" 
					         name="column-rank-statistic" value="conservation">
					  <label for="conservation-radio-button">conservation</label>
					</p>
		
					<p>
					  <input id="hydrophobicity-radio-button" type="radio" class="noraseq-left-align" 
					         name="column-rank-statistic" value="hydrophobicity">
					  <label for="hydrophobicity-radio-button">hydrophobicity</label>
					</p>
		
					<p>
					  <input id="size-radio-button" type="radio" class="noraseq-left-align" 
					         name="column-rank-statistic" value="size">
					  <label for="size-radio-button">residue size</label>
				  </p>
		
					<p>approx # residues allowed:</p>
					<p>
					  <input id="one-allowed-radio-button" type="radio" style="margin-left: 1em" 
					         name="column-rank-statistic" value="one-allowed">
				  	<label for="one-allowed-radio-button">1</label>
		
					  <input id="two-allowed-radio-button" type="radio" 
					         name="column-rank-statistic" value="two-allowed">
					  <label for="two-allowed-radio-button">2</label>
		
					  <input id="three-plus-allowed-radio-button" type="radio" 
					         name="column-rank-statistic" value="three-plus-allowed">
				    <label for="three-plus-allowed-radio-button">many</label>
				  </p>
				</div>  <!-- admin-display-cell -->
			
				<div class="noraseq-vrule" id="column-l-rule"></div>
			
				<div class="admin-display-cell">
					<div class="header-block">
					  <h2>summary of scores</h2>
					</div>
					<div class="column-score-histogram"></div>
				</div>  <!-- admin-display-cell -->
			
				<div class="noraseq-vrule" id="column-mid-rule"></div>
			
				<div class="admin-display-cell">
					<div class="header-block">
						<h2>columns by score</h2>
						<p class="option-link"><a href="#">sort</a> | <a href="#">unsort</a></p>
					</div>
					<div class="column-by-score"></div>
				</div> <!-- admin-display-cell -->
			
				<div class="noraseq-vrule" id="column-r-rule"></div>
			
				<div class="admin-display-cell">
					<div class="header-block">
						<h2 class="ghosted">selected column</h2>
					</div>
					<div class="selected-column-histogram"></div>
				</div>  <!-- admin-display-cell -->
				
				<div class="noraseq-bottom-anchor"></div>
			</div> <!-- column-stats -->

			
			<div id="column-pair-stats">
			  Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. 
			  Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus.
			  Mauris porttitor ullamcorper augue.
			</div> 
			
			<div id="column-vs-selected-column-stats">
			  Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. 
			  Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus.
			  Mauris porttitor ullamcorper augue.
			</div>
			
		  <div style="float: none; clear: both" class="noraseq-bottom-anchor"></div>
		</div> <!--stats-panel -->
		
		<!-- fixme for tiny links: 
		     change ui-widget text size to 1em in jquery ui theme; so that body text size can be upsized. -->
	
		<p class="option-link">
		  color: <a href="#">conservation</a> | <a href="#">hydrophobicity</a> | <a href="#">size</a>
		</p>
	</div> <!-- admin -->
	

	<!--
		put test buttons here: 
		
		<button id="display-none" type="button">set display: none</button>
	-->
	<button id="moveup" type="button">move up</button>
	<button id="movedown" type="button">move down</button>


	<div id="sequence-panel">
		<div id="row-label-panel">
			<div id="row-label-control"></div>
			<div class="y-overflow-container">
				<div class="scrolling-panel">
					<div class="scrolling-content">
						<div id="tree"></div>
						<div id="row-labels"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="sequence-content-panel">
			<div class="x-overflow-container">
				<div class="scrolling-panel">
					<div class="scrolling-content">
						<div id="column-labels">
						  <table id="column-labels-table"  width="{{table_width}}px">
						    <thead>
					        <tr class="column-labels-table-row">
										{% for col_num in header_row %}
										<th class="c{{col_num}}"></th>
										{% endfor %}
					      </thead>
				      </table>
						</div>

						{% comment %}
						 <!-- comment: if it's desirable to have scroll bars to indicate the scroll
                        position of the sequence table, one solution is to put the sequence table into a
                        programmatically-generated iframe that is resized when the window resizes. (Using the more
                        obvious strategy of placing the sequence table in a *div* that gets resized is problematic
                        because resizing a div containing a large table can be a very slow operation in Firefox.
                        Resizing an iframe is immediate.) --> 
                        {% endcomment %}

						<div class="y-overflow-container">
							<div class="scrolling-panel"> 
								<div class="scrolling-content">
									{% comment %}
									
									<table id="sequence-table">	
										{% spaceless %}
										<thead>
											<tr class="sequence-table-row">
												{% for col in header_row %}
												<th></th>
												{% endfor %}
											</tr>
										</thead>
										<tbody>
										{% for row in alignment_rows %}
										<tr class="r{{row.row_num}} sequence-table-row">
											{% for residue in row.filtered_sequence %}
											<td class="c{{residue.col_num}}{% if residue.is_gap %} gap{% endif %}">{{residue.abbrev}}</td>
											{% endfor %}
										</tr>
										{% endfor %}
										</tbody>
										{% endspaceless %}
									</table>
									
									{% endcomment %}
								</div> <!-- scrolling-content -->
							</div> <!-- scrolling-panel -->
						</div> <!-- y-overflow-container -->
					</div> <!-- scrolling-content -->
				</div> <!-- scrolling-panel -->
			</div>	<!-- x-overflow-container -->		
		</div> <!-- sequence-content-panel -->
	</div> <!-- sequence-panel -->
</body>
</html>
