html {
    overflow: hidden;
}

body {
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}


.option-link {
    font-size: 0.9em;
}

.option-link > p {
    display: inline;
}

.option-link > a {
    color: #0000ee;
    text-decoration: none;
}

.option-link > a:visited {
    color: #0000ee;
}

.option-link > a:hover {
    text-decoration: underline;
}


/*** header ***/

#header h1 {
    font-weight: normal;
    font-size: 2.5em;
    color: #888888;
    margin: 0.2em 0.2em 0.2em 0.2em;
}


/*** overall layout (the 'panels') ***/

/* the ridiculous width of #sequence-panel is necessary to make sure #row-label-panel and
   #sequence-content-panel always float next to each other, no matter how wide #sequence-content-panel becomes
   (and it may become very wide when it contains a long sequence alignment...) */

#sequence-panel {
    width: 100000px;
}

#row-label-panel {
    float: left;
}

#sequence-content-panel {
    float: left;
}


/*** admin ***/

.noraseq-admin {
    font-size: 1em;
    margin-left: 1em;
}

.noraseq-admin .ui-widget {
    font-size: 1.0em;           /* overwrite jquery ui css */
}

.noraseq-admin p {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.noraseq-admin .ghosted {
    color: #aaaaaa;
}


/* Display h2 inline so that "option links" (e.g., <a>sort</a> | <a>unsort</a>) can
   be floated right, yet share the same text baseline as the h2. However, inline display causes h2 margin to
   overspill the containing div, causing layout problems; therefore style "header-block" divs, instead of
   h2s, to get margins and padding. */

.noraseq-admin h2 {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-weight: normal;
}

.noraseq-admin .header-block {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.8em;
}

.noraseq-admin .header-block .option-link {
    float: right;
}

/*** stats-panel (tab box) ***/

#stats-panel {
    background: transparent;
    border: 0;
    margin-bottom: 6px;
}

#stats-panel .ui-tabs-panel {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

#stats-panel ul {
    margin-left: 1em;
    background: transparent;
    border: 0;
}

#stats-panel > div {
    float: left;
}

.admin-display-cell {
    float: left;
}

/*** specific contents of each tab ***/


.column-score-histogram {
    float: left;
    width: 200px;
    height: 150px;
    background-color: #ffffff;
}

.column-by-score {
    float: left;
    width: 250px;
    height: 150px;
    background-color: #ffffff;
}

.selected-column-histogram {
    float: left;
    width: 200px;
    height: 150px;
    background-color: #ffffff;
}


/*** column labels ***/

#column-labels {
    height: 30px;           /* must remain same as #row-label-control */
    width: 100%;
    position: relative;
}

#column-labels-table {
    table-layout: fixed;
    background: transparent;
    border-spacing: 0px;
    border-collapse: separate;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}

#column-labels-table-row {
    height: 20px;
}


#column-labels-table th {
    width: 16px;
    padding: 0;
    background-color: #ebead3;
    border-color: #dddddd;
    border-style: solid solid none none;
    border-width: 1px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

#column-labels-table th:first-child {
    border-left-style: solid;
}

#column-labels-table .selected {
    background-color: #CFBD87;
}


#column-labels-table .hovered {
    border-style: solid solid none solid;
    border-color: #CFBD87;
    background-color: #EBE9B8;
}

#column-labels-table .hovered.selected {
    background-color: #dfd2ab;
}


/*** sequence table ***/

.seq-table {
    table-layout: fixed;
    background-color: #efefe0;
    border-spacing: 0px;
    border-collapse: separate;
    font-family: "Verdana";
    font-size: 12px;
    color: #333333;
    cursor: pointer;
}

.seq-table th {
    padding: 0px 1px;
    width: 15px;
}

.seq-table td {
    text-align: center;
    background-color: #ebead3;
    border: 1px solid #ebead3;
    padding: 0;
    height: 18px;                           /* must remain same as #row-labels-table td */
}

.seq-table .gap {
    background: transparent;
    color: #efefe0;                                  /* invisible, but selectable and 'web-scrapable' */
    border-color: #E6E5C6 #efefe0 #efefe0 #efefe0;   /* alternately #EBE9B8*/
    cursor: default;
}

.seq-table .selected.commented {
    /*background-color: #CFBD87; color: yellow; */
    background-color: #ffff80; color: #666666;
}

.seq-table .commented {
    background-color: #ffff80;
}

.seq-table .selected {
    background-color: #CFBD87;
    color: white;
    font-weight: bold;
    border-color: #CFBD87;
}

.seq-table .hovered {
    border-color: #EBE9B8 #CFBD87;
    background-color: #EBE9B8;
}

.seq-table .hovered-cell {
    border-color: #CFBD87;
    background-color: #EBE9B8;
}

.seq-table .hovered.gap {
    border-color: #efefe0 #CFBD87;
}

.seq-table .hovered.selected {
    background-color: #dfd2ab;
    border-color: #dfd2ab #CFBD87;
}


/*** row labels ***/

#row-label-control {
    height: 30px;
}

#row-labels-table {
    border-spacing: 0;
    border-collapse: separate;
    margin-left: 5px;
    white-space: nowrap;
}

#row-labels-table td {
    color: #666666;
    background-color: #ebead3;
    /*border-color: #dfd2ab;*/
    border-color: #dddddd;
    font-style: italic;
    height: 18px;
    
    padding: 0px 5px 1px 15px;
    border-style: none none solid solid;
    border-width: 1px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#row-labels-table tr:first-child td {
    border-top-style: solid;
}

/*** tree ***/

#tree {
    width: 100px;
    height:100px;
    float: left;
}


/*** helpers ***/

/* add this class to remove pesky left margin from leftmost inline element */
.noraseq-left-align {
    margin-left: 0px;
}

.noraseq-vrule {
    float: left;
    margin: 10px 20px 10px 20px;
    width:1px;
    height: 150px;
    background-color: #cccccc;
}

/* add this class temporarily to visualize the border of a div */
.noraseq-border-helper {
    border: 1px solid #333333;
}

/* use this class to make non-floated container stretch to height of any floated divs it contains
   (usage: add an empty div with this class after all floated divs) */
.noraseq-bottom-anchor {
    float: none;
    clear: both;
}

.x-overflow-container {
    overflow: hidden;
}

.y-overflow-container {
    overflow: hidden;
}