<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:foaf="http://xmlns.com/foaf/0.1/" version="XHTML+RDFa 1.0" xml:lang="en">
<head>
    <title>Alignment {{ alignment.id }}: {{ alignment.name }}</title>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.rdfquery.rdfa-1.0.js"></script>
	
	<script type="text/javascript">

		$(document).ready(function () {
			$("#hiderdf").click(function() {
				$("#rdflist").empty();
			});
			
			$("#showrdf").click(function() {
				$("#rdflist").empty();
				
				var h = $('.sequence-alignment thead');
				var rdf = h.rdf();
				rdf.prefix('foaf', 'http://xmlns.com/foaf/0.1/')
					.where('?col foaf:name ?classname')
					.each(function () {
						var col = this.col.value;
						var classname =  this.classname.value;
						$('#rdflist')
							.append('<li>' + col + ': ' + classname + '</li>');
					});							
			});
		});
	</script>
	
</head>
<body>
    <a href="{% url mssm.views.alignment_list %}">Return to MSSM alignment list</a>
    <h1>Detail of alignment {{ alignment.id }}: {{ alignment.name }}</h1>
   
    <ul>
        <li><a href="?view=noraseq">NORASeq view</a> (wicked slow except in Safari)</li>
		<li><a href="?edit">Edit information</a></li>
        <li><a href="?delete">Delete alignment</a>
        {% if show_delete_form %}
            <table>
                <tr>
                    <td>
                        Delete alignment?
                    </td>
                    <td>
                        <form action="" method="POST">
                            <input type=hidden name="method_tunnel" value="DELETE">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td>
                        <form action="" method="GET">
                            <input type="submit" value="Cancel">
                        </form>
                    </td>
                </tr>
            </table>
        {% endif %}
        </li>
    </ul>
       
    {% if edit_form %}
    <form action="" method="POST">
        <input type=hidden name="method_tunnel" value="PUT">
        <table>
            {{ edit_form.as_table }}
            <tr>
                <th><input type="submit" value="submit" /></th>
            </tr>
        </table>
    </form>

    {% else %}
    <p>{{ alignment.description }}</p>
    <ul> 
        {% if alignment.context_url %}
        <li>More context: <a href="{{alignment.context_url}}">{{alignment.context_url}}</a></li>
        {% endif %}
        {% if alignment.source_url %}
        <li>Downloaded from: <a href="{{alignment.source_url}}">{{alignment.source_url}}</a></li>
        {% endif %}
        <li>Download ({{alignment.format}} format): <a href="{{alignment.local_file.url}}">{{alignment.local_file.url}}</a></li>
    </ul>
    {% endif %}

	<button id="showrdf" type="button">Show RDF</button>
	<button id="hiderdf" type="button">Hide RDF</button>
	
	<ul id="rdflist">
	</ul>
	
	<table class="sequence-alignment">
		<thead>
			<tr>
	            <th>description</th>
	            <th><a href="{{ alignment.get_absolute_url }}">row</a></th>
	            <th></th>
				<!-- foaf:name isn't the correct relation, I just needed a 'valid' predicate of some kind for rdfquery
                to pull out any triples. Anyway the point is that noraseq viewer needs a way to connect columns that are
                referenced by a different URI to the css class names that are used privately within the html in this
                page, without too much implicit agreement about what column numbers.
				
				 Of course, we'll do this the sensible way, with implicit references using column numbers, at least to
                start -->
	            {% for col in header_row %}
	            <th about="{% url mssm.views.alignment_detail alignment.id %}col/{{col}}" property="foaf:name" content="c{{col}}"><a href="?sort-by={{col}}">{{col}}</a></th>
	            {% endfor %}
	        </tr>
    	</thead>
		<tbody>
	        {% for row in alignment_rows %}
	        <tr class="r{{row.row_num}}">
	            <td>{{row.name}}</td>
	            <td>{{row.row_num}}</td>
	            <td><a href="?show-ungapped={{row.row_num}}">ungap</a></td>
	            {% for residue in row.filtered_sequence %}
	            <td class="c{{residue.col_num}}">{{residue.abbrev}}</td>
	            {% endfor %}
	        </tr>
	        {% endfor %}
		</tbody>
    </table>

	<ul>
	</ul>
</body>
</html>
