<html>
<head>
    <title>Alignment List</title>
</head>
<body>
    <h1>Import an alignment:</h1>
        <form action="{% url mssm.views.alignment_list %}" enctype="multipart/form-data" method="POST" />
        <table>
            {{ form.as_table }}
            <tr>
                <th><input type="submit" value="submit" /></th>
            </tr>
        </table>
        </form>
    <h1>List of alignments:</h1>
    <ol>        
        {% for alignment in alignments %}
        <li> <a href="{{ alignment.get_absolute_url }}">{{alignment.name}}</a> </li>
        {% endfor %}
    </ol>
</body>
</html>

    