<html>
<head>
	<title>Alignment {{ alignment.id }} Detail</title>
</head>
<body>
	<h1>Detail of alignment {{ alignment.id }}</h1>
	<h2>{{ alignment.name }}</h2>
	<ul>	
		<li>{{ alignment.description }}</li>
		<li><a href="{{alignment.source_url}}">{{alignment.source_url}}</a></li>
		<li><a href="{{alignment.source_file.url}}">{{alignment.source_file.url}}</a></li>
	</ul>
	
	<table>
		<tr><th>row id</th>{% for colnum in header_row %}<th>{{colnum}}</th>{% endfor %}</tr>
		{% for row in alignment_rows %}
		<tr><td>{{row.name}}</td>{% for residue in row.sequence_as_list %}<td>{{residue}}</td>{% endfor %}</tr>
		{% endfor %}
	</table>
</body>
</html>
