<html>
<head>
    <title>Alignment {{ alignment.id }}: {{ alignment.name }}</title>
</head>
<body>
    <a href="{% url noraseq.views.alignment_list %}">Return to NORASeq alignment list</a>
    <h1>Detail of alignment {{ alignment.id }}: {{ alignment.name }}</h1>
   
    <ul>
		<li><a href="?edit">Edit information</a></li>
        <li><a href="?delete">Delete alignment</a>
        {% if show_delete_form %}
            <table>
                <tr>
                    <td>
                        Delete alignment?
                    </td>
                    <td>
                        <form action="" method="POST">
                            <input type=hidden name="action" value="delete">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td>
                        <form action="" method="GET">
                            <input type="submit" value="Cancel">
                        </form>
                    </td>
                </tr>
            </table>
        {% endif %}
        </li>
    </ul>
       
    {% if edit_form %}
    <form action="" method="POST">
        <input type=hidden name="action" value="edit">
        <table>
            {{ edit_form.as_table }}
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

    {% else %}
    <p>{{ alignment.description }}</p>
    <ul> 
        {% if alignment.context_url %}
        <li>More context: 
            <a href="{{alignment.context_url}}">{{alignment.context_url}}</a>
        </li>
        {% endif %}
        {% if alignment.source_url %}
        <li>Downloaded from: 
            <a href="{{alignment.source_url}}">{{alignment.source_url}}</a>
        </li>
        {% endif %}
        <li>Download ({{alignment.format}} format): 
            <a href="{{alignment.local_file.url}}">{{alignment.local_file.url}}</a>
        </li>
    </ul>
    {% endif %}
	
	<table class="seq-table">
		<thead>
			<tr>
	            <th>description</th>
	            <th>row</th>
	            {% for col in header_row %}
	            <th>{{col}}</th>
	            {% endfor %}
	        </tr>
    	</thead>
		<tbody>
	        {% for row in alignment_rows %}
	        <tr class="r{{row.num}}">
	            <td>{{row.name}}</td>
	            <td>{{row.num}}</td>
                {{ row.prerendered_tds|safe }}
	        </tr>
	        {% endfor %}
		</tbody>
    </table>
</body>
</html>
