<html>
<head>
    <title>Alignment List</title>
</head>
<body>
    <h1>Create a new alignment:</h1>
        <form action='/alignments/' enctype="multipart/form-data" method="POST" />
            {{ form.as_p }}
            <input type="submit" value="submit" />
        </form>
    <h1>List of alignments:</h1>
    <ol>        
        {% for alignment in alignments %}
        <li> <a href="{% url mssm.views.alignment_detail alignment.id %}">{{alignment.name}}</a> </li>
        {% endfor %}
    </ol>
</body>
</html>
    