<html>
<head>
    <title>NORASeq</title>
</head>
<body>
    <h1>NORASeq: A tool for finding Non-Obvious Relationships Among Sequences</h1>
    <p style="font-style: italic">
        Version 0.0.1 omega
    </p>
    <p>
        Drag this <a href="javascript:location.href='{{absolute_url_prefix}}{% url noraseq.views.alignment_list %}?url='+encodeURIComponent(location.href)+';title='+encodeURIComponent(document.title)">NORASeq</a> bookmarklet to bookmarks toolbar or <a href="{% url noraseq.views.alignment_list %}">view all uploaded alignments</a>.
    </p>

</body>
</html>