<html>
<head>
    <title>Multiple Sequence Sensemaker</title>
</head>
<body>
    <h1>MSSM: A Multiple Sequence Sensemaker</h1>
    <p style="font-style: italic">
        Version 0.0.1 omega
    </p>
    <p>
        Drag this <a href="javascript:location.href='{{absolute_url_prefix}}{% url mssm.views.alignment_list %}?url='+encodeURIComponent(location.href)+';title='+encodeURIComponent(document.title)">mssm</a> bookmarklet to bookmarks toolbar or <a href="{% url mssm.views.alignment_list %}">view all uploaded alignments</a>.
    </p>

</body>
</html>